<!-- Newsletter Signup -->
<!-- this works, but it's unsightly -->

<!--
<form
  action="https://buttondown.email/api/emails/embed-subscribe/Uidaho-stat-programs"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/Uidaho-stat-programs', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.email/refer/Uidaho-stat-programs" target="_blank">Powered by Buttondown.</a>
  </p>
</form>
-->

<!-- this does work -->

<style type="text/css" media="screen">
    {{ partial "css/newsletter.css" . | safeCSS }}
</style>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

<div id="revue-embed" class="revue-embed">
    <form action="https://buttondown.email/api/emails/embed-subscribe/Uidaho-stat-programs" 
          method="post" 
          id="revue-form" 
          name="revue-form"
          target="popupwindow" 
          onsubmit="window.open('https://buttondown.email/Uidaho-stat-programs', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      
      
      
        <div class="revue-header">
            <p>Sign up for our newsletter</p>
        </div>
        <div class="revue-description">
            <p>Agricultural statistical content focused on R and SAS, along with info about upcoming workshops, lectures, and trainings relevant to these topics</p>
            <p>Sent quarterly (thereabouts)</p>
        </div>
        <div class="revue-input">
            <input type="email" class="button" name="email" id="member_email" placeholder="Your email address">
            <input type="hidden" name="embed" value="1">
            <input type="submit" class="button" id="member_submit" value="Subscribe"/>
        </div>
    
</div>


        
